<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text color--dark-gray">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="mdl-card__title-text text-color--smooth-gray"
          >RESET PASSWORD</span
        >
      </div>

      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <!-- <span class="blank-layout-card-name text-color--white"
          >Forgot password?</span
        > -->
        <span class="blank-layout-card-secondary-text text-color--smoke"
          >Enter your password</span
        >
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
        >
          <input class="mdl-textfield__input" type="password" id="password" />
          <label class="mdl-textfield__label" for="password"
            >New Password</label
          >
        </div>
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
        >
          <input
            class="mdl-textfield__input"
            type="password"
            id="confirmPassword"
          />
          <label class="mdl-textfield__label" for="confirmPassword"
            >Confirm Password</label
          >
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <div class="mdl-layout-spacer"></div>

        <button
          (click)="resetPassword()"
          class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
        >
          RESET PASSWORD
        </button>
      </div>
    </div>
  </div>
</div>
