<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text color--dark-gray">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="mdl-card__title-text text-color--smooth-gray"
          >Reset Password</span
        >
      </div>
      <form
        class="reset-form"
        [formGroup]="resetForm"
        (submit)="resetPassword()"
        autocomplete="off"
        novalidate
      >
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
            [class.is-invalid]="
              password.invalid && (password.dirty || password.touched)
            "
            [class.is-valid]="
              password.valid && (password.dirty || password.touched)
            "
            id="forPass"
          >
            <input
              formControlName="password"
              class="mdl-textfield__input"
              type="password"
              id="password"
            />
            <label class="mdl-textfield__label" for="password">Password</label>
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
            >
              <span
                *ngIf="password.errors.required"
                class="mdl-textfield__error"
              >
                Password is required.
                <span class="color-text--orange"> Please type password.</span>
              </span>
            </div>
          </div>

          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
            [class.is-invalid]="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            [class.is-valid]="
              confirmPassword.valid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
          >
            <input
              formControlName="confirmPassword"
              class="mdl-textfield__input"
              type="text"
              id="confirmPassword"
            />
            <label class="mdl-textfield__label" for="email"
              >Confirm Password</label
            >

            <div
              *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
            >
              <span
                *ngIf="confirmPassword.errors.required"
                class="mdl-textfield__error"
              >
                Confirm password is required.
                <span class="color-text--orange">
                  Please confirm password.</span
                >
              </span>
            </div>
          </div>

          <div class="full-size color-text--red" *ngIf="error">{{ error }}</div>
        </div>
        <div
          class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell"
        >
          <!-- <div class="mdl-layout-spacer"></div> -->
          <button
            class="mdl-button mdl-js-button mdl-button--raised color--light-blue"
            type="submit"
            [disabled]="resetForm.invalid"
          >
            RESET
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
