<div class="jumbotron pt-4">
  <div class="container">
    <h3 class="h4">
      Admin Section
    </h3>
    <hr class="my-2" />

    <form [formGroup]="adminForm" (submit)="saveProduct()">
      <div class="form-group">
        <!-- Selection Boxes -->
        <div class="row">
          <div class="col-md-4">
            <label for="section">Choose Section</label>
            <select
              class="form-control"
              formControlName="sec_id"
              required
              (change)="onChangeSection($event.target.value)"
            >
              <option *ngFor="let sec of productCategory" [value]="sec.id">{{
                sec.section
              }}</option>
            </select>
          </div>
          <div class="col-md-4" *ngIf="sec_id.value != ''">
            <label for="category">Choose Category</label>
            <select
              class="form-control"
              required
              formControlName="cat_id"
              (change)="onChangeCatVal($event.target.value)"
            >
              <option
                *ngFor="let cat of sectionObj.categoryList"
                [value]="cat.id"
                >{{ cat.category }}</option
              >
            </select>
          </div>
          <div class="col-md-4" *ngIf="cat_id.value != ''">
            <label for="brand">Choose Brand</label>
            <select class="form-control" formControlName="brand_id" 
            required
            (change)="onChangeBrandVal($event.target.value)"
            >
              <option
                *ngFor="let brandObj of categoryObj.brandsList"
                [value]="brandObj.id"
                >{{ brandObj.brand }}</option
              >
            </select>
          </div>
        </div>
        <!-- Selection Boxes -->

        <!-- accordian -->
        <div id="accordion">
          <!-- product-details -->
          <div class="card mt-2">
            <div class="card-header py-2 font-weight-bold text-dark">
              <a href="#detail" data-parent="#accordion" data-toggle="collapse"
                >Product Details
              </a>
            </div>
            <div id="detail" class="collapse show">
              <div class="card-body pb-1">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="product"
                        placeholder="Product Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="price"
                        placeholder="Price of product"
                        required
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="availableQuantity"
                        placeholder=" Product Quantity"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        id="desc"
                        cols="3"
                        rows="2"
                        formControlName="desc"
                        placeholder="Product Description"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- product specification -->
          <div class="card mt-2" *ngIf="getSpecArrayLenght()">
            <div class="card-header py-2 font-weight-bold">
              <a
                href="#Specifications"
                data-parent="#accordion"
                data-toggle="collapse"
                >Product Specifications
              </a>
            </div>
            <div id="Specifications" class="collapse">
              <div class="card-body">
                <div
                  formArrayName="prodAttributeList"
                  *ngFor="
                    let item of adminForm.get('prodAttributeList')?.controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i">
                    <div class="row" *ngIf="getKeyName(i) != ''">
                      <div class="col-4">
                        <input
                          type="text"
                          class="form-control"
                          id="keyName{{ i }}"
                          readonly
                          formControlName="keyName"
                          aria-readonly="true"
                          placeholder="{{ getKeyName(i) }}"
                        />
                      </div>
                      <div class="col-8">
                        <input
                          type="text"
                          class="form-control"
                          required
                          formControlName="valueName"
                          id="valueName{{ i }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- product-Images -->
          <div class="card mt-2">
            <div class="card-header py-2 font-weight-bold">
              <a href="#Images" data-parent="#accordion" data-toggle="collapse"
                >Product Images
              </a>
            </div>
            <div id="Images" class="collapse">
              <div class="card-body">
                <div class="row">
                  <div class="col-5 pl-0">
                    <div
                      class="dragDrop"
                      appFileDrapDrop
                      (fileDropped)="onFileDropped($event)"
                    >
                      <input
                        type="file"
                        #imgFile
                        id="imgFile"
                        multiple
                        (change)="fileBrowseHandler($event.target.files)"
                      />
                      <img
                        class="mt-5"
                        src="assets/ImgDragDrop/ic-upload-file.svg"
                        alt=""
                      />
                      <h3 class="mt-3">Drag and drop file here</h3>
                      <h3>Or</h3>
                      <label for="imgFile">Browse for file</label>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="files-list">
                      <div
                        class="single-file"
                        *ngFor="let file of imgFilesArray; let i = index"
                      >
                        <!-- <img src="assets/ImgDragDrop/ic-file.svg" width="45px" alt="file"> -->
                        <img
                          [src]="getImgPreview(i)"
                          class="mr-2"
                          width="45px"
                          alt="file"
                        />
                        <div class="info">
                          <h4 class="name">
                            {{ file?.name }}
                          </h4>
                          <p class="size">
                            {{ formatBytes(file?.size) }}
                          </p>
                          <app-progress
                            [progress]="file?.progress"
                          ></app-progress>
                        </div>
                        <img
                          src="assets/ImgDragDrop/ic-delete-file.svg"
                          class="delete"
                          width="20px"
                          alt="file"
                          (click)="deleteFile(i)"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-block btn-outline-primary form-control mt-2"
              [disabled]="adminForm.invalid"
            >
              Save Product
            </button>
          </div>
        </div>
      </div>
      <!-- accordian -->
    </form>
  </div>
</div>
