<div
  class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer"
>
  <div class="mdl-layout__header">
    <base-page-top>
      <div class="mdl-layout-spacer"></div>
      <!-- Search form -->
      <form class="form-inline">
        <div class="md-form my-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
      </form>

      <div ng- class="avatar-dropdown" id="icon">
        <span>{{ user.username }}</span>
        <img src="assets/images/Icon_header.png" />
      </div>
      <ul
        class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
        for="icon"
      >
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <span class="material-icons mdl-list__item-avatar"></span>
            <span>{{ user.username }}</span>
            <span class="mdl-list__item-sub-title">{{ user.email }}</span>
          </span>
        </li>
        <li class="list__item--border-top"></li>
        <li class="mdl-menu__item mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">account_circle</i>
            My account
          </span>
        </li>
        <li class="mdl-menu__item mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">check_box</i>
            My tasks
          </span>
          <span class="mdl-list__item-secondary-content">
            <span class="label background-color--primary">3 new</span>
          </span>
        </li>
        <li class="mdl-menu__item mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon"
              >perm_contact_calendar</i
            >
            My events
          </span>
        </li>
        <li class="list__item--border-top"></li>
        <li class="mdl-menu__item mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">settings</i>
            Settings
          </span>
        </li>
        <li class="mdl-menu__item mdl-list__item">
          <span class="mdl-list__item-primary-content" (click)="logout()">
            <i class="material-icons mdl-list__item-icon text-color--secondary"
              >exit_to_app</i
            >
            Log out
          </span>
        </li>
      </ul>

      <button id="more" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul
        class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp settings-dropdown"
        for="more"
      >
        <li class="mdl-menu__item">
          Settings
        </li>
        <a
          class="mdl-menu__item"
          href="https://github.com/CreativeIT/material-angular-dashboard/issues"
        >
          Support
        </a>
        <li class="mdl-menu__item">
          F.A.Q.
        </li>
      </ul>
    </base-page-top>
  </div>
  <div class="mdl-layout__drawer">
    <app-sidebar></app-sidebar>
  </div>
  <div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <!-- Features -->
          <li class="nav-item dropdown mega-dropdown active">
            <a
              class="nav-link dropdown-toggle text-uppercase"
              id="navbarDropdownMenuLink2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Features
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- Technology -->
          <li class="nav-item dropdown mega-dropdown">
            <a
              class="nav-link dropdown-toggle text-uppercase"
              id="navbarDropdownMenuLink3"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Technology</a
            >
          </li>
          <!-- Lifestyle -->
          <li class="nav-item dropdown mega-dropdown">
            <a
              class="nav-link dropdown-toggle text-uppercase"
              id="navbarDropdownMenuLink4"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Lifestyle</a
            >
          </li>
        </ul>
        <!-- Links -->
      </div>
      <!-- Collapsible content -->
    </nav>
    <!-- Navbar -->
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
