<div
  class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer"
>
  <div class="mdl-layout__header">
    <base-page-top>
      <div class="mdl-layout-spacer"></div>
      <!-- Search form -->
      <div class="col-md-6">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input
              matInput
              class="form-control"
              type="text"
              formControlName="searchword"
              placeholder="Search for products, brands and more"
              (input)="searchKeyword()"
            />
          </div>
        </form>
      </div>
      <div class="mdl-layout-spacer"></div>
      <div *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-secondary" (click)="login()">
          Login
        </button>
      </div>
      <div *ngIf="isLoggedIn" ng- class="avatar-dropdown" id="icon">
        <span>{{ user.username }}</span>
        <img src="assets/images/Icon_header.png" />
      </div>
      <div *ngIf="isLoggedIn">
        <ul
          class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
          for="icon"
        >
          <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <span class="material-icons mdl-list__item-avatar"></span>
              <span>{{ user.username }}</span>
              <span class="mdl-list__item-sub-title">{{ user.email }}</span>
            </span>
          </li>
          <li class="list__item--border-top"></li>
          <li class="mdl-menu__item mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">account_circle</i>
              My account
            </span>
          </li>
          <li class="mdl-menu__item mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">check_box</i>
              My tasks
            </span>
            <span class="mdl-list__item-secondary-content">
              <span class="label background-color--primary">3 new</span>
            </span>
          </li>
          <li class="mdl-menu__item mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon"
                >perm_contact_calendar</i
              >
              My events
            </span>
          </li>
          <li class="list__item--border-top"></li>
          <li class="mdl-menu__item mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">settings</i>
              Settings
            </span>
          </li>
          <li class="mdl-menu__item mdl-list__item">
            <span class="mdl-list__item-primary-content" (click)="logout()">
              <i
                class="material-icons mdl-list__item-icon text-color--secondary"
                >exit_to_app</i
              >
              Log out
            </span>
          </li>
        </ul>
      </div>
      <button id="more" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul
        class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp settings-dropdown"
        for="more"
      >
        <li class="mdl-menu__item">
          Settings
        </li>
        <a class="mdl-menu__item" href="https://github.com/Dikpal7/Shopmart">
          Support
        </a>
        <li class="mdl-menu__item">
          F.A.Q.
        </li>
      </ul>
    </base-page-top>
  </div>
  <div class="mdl-layout__drawer">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Navbar MegaMenu -->
  <div class="navbar">
    <div class="dropdown" *ngFor="let item of productCategory.data">
      <button class="dropbtn dropdown-toggle">{{ item.mainCategory }}</button>
      <div class="dropdown-content">
        <div class="row" *ngFor="let subCat of item.subCategoryList">
          <div class="column">
            <ul class="list-unstyled">
              <li class="">
                <a class="menu-item" href="">
                  <b>{{ subCat.subCategories }}</b>
                </a>
                <ul
                  class="list-unstyled"
                  *ngFor="let cat of subCat.categoryItems"
                >
                  <li class="">
                    <a class="menu-item" href="">
                      {{ cat.categoryItem }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar MegaMenu -->

  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
